<div>
    <span class="badge bg-danger rounded-pill" th:if="${p.difficulty eq 'Hard'}">Hard</span>
    <span class="badge bg-warning rounded-pill" th:if="${p.difficulty eq 'Medium'}">Medium</span>
    <span class="badge bg-success rounded-pill" th:if="${p.difficulty eq 'Easy'}">Easy</span>
    <span class="badge bg-danger rounded-pill" th:if="${p.difficulty eq 'HARD'}">Hard</span>
    <span class="badge bg-warning rounded-pill" th:if="${p.difficulty eq 'MEDIUM'}">Medium</span>
    <span class="badge bg-success rounded-pill" th:if="${p.difficulty eq 'EASY'}">Easy</span>
</div>
