<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LeetHub</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <header th:replace="header.html"></header>
        <div id="layoutSidenav">
            <aside th:replace="aside.html"></aside>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4 mb-4">Analysis Panel</h1>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-body text-secondary mb-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="my-lg-3 ms-lg-3">每日一题</h5>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <h6 class="mt-2 me-2 text-success" th:if="${hasDailyProblemRecord}">已完成</h6>
                                            <h6 class="mt-2 me-2 text-warning" th:if="not ${hasDailyProblemRecord}">未完成</h6>    
                                            <span class="badge bg-primary" th:text="${dailyPCount}"></span>
                                        </div>
                                        <h6 type="hidden"></h6>
                                    </div>
                                    <div class="card-footer" th:if="${todayProblem}">
                                        <div class="d-flex card-header justify-content-between align-items-center mx-lg-2">
                                            <div class="card-body" th:text="${todayProblem.title}"></div>
                                            <span class="badge bg-danger rounded-pill" th:if="${todayProblem.difficulty eq 'Hard'}">Hard</span>
                                            <span class="badge bg-warning rounded-pill" th:if="${todayProblem.difficulty eq 'Medium'}">Medium</span>
                                            <span class="badge bg-success rounded-pill" th:if="${todayProblem.difficulty eq 'Easy'}">Easy</span>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mx-lg-2 mt-1">
                                            <a type="button" class="btn btn-link small" th:href="${todayProblem.url}" target="_blank">去做题</a>
                                            <a type="button" class="btn btn-link small text-success" th:href="${todayProblem.url}">去总结</a>
                                        </div>
                                    </div>
                                    <div class="card-footer" th:if="${#strings.isEmpty(todayProblem)}">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class=" card-body">努力爬取中...</div>
                                            <span class="badge bg-warning rounded-pill">None</span>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mx-lg-2 mt-1 border-top">
                                            <button class="btn btn-link small">...</button>
                                            <button class="btn btn-link small text-success">...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4" >
                                    <div class="card-header" style="position: relative">
                                        <a type="hidden" th:href="@{/user/rank/0}" class="stretched-link"></a>
                                        <i class="fas fa-chart-area me-1"></i>
                                        国内刷题排名
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                    <input type="hidden" id="areaChartData" th:value="${commonRank}">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="footer.html"></footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/assets/demo/chart-area-demo.js}"></script>
        <script src="/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
