<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LeetHub</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <header th:replace="header.html"></header>
        <div id="layoutSidenav">
            <aside th:replace="aside.html"></aside>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4 mb-4">Submit Record Panel</h1>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Submit Record Details
                            </div>
                            <div class="card-body">
                                <table class="table-striped" id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Alias</th>
                                            <th>Difficulty</th>
                                            <th>Submit Time</th>
                                            <th>Summary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="pu:${pus}">
                                            <td>
                                                <a th:text="${pu.title}" target="_blank" th:href="${pu.url}"></a>
                                            </td>
                                            <td th:text="${pu.alias} eq null ? '无' : ${pu.alias}"></td>
                                            <td th:if="${pu.difficulty} eq 'Medium'" class="bg-warning">Medium</td>
                                            <td th:if="${pu.difficulty} eq 'Hard'" class="bg-danger">Hard</td>
                                            <td th:if="${pu.difficulty} eq 'Easy'" class="bg-success">Easy</td>
                                            <td th:if="${pu.difficulty} eq 'MEDIUM'" class="bg-warning">Medium</td>
                                            <td th:if="${pu.difficulty} eq 'HARD'" class="bg-danger">Hard</td>
                                            <td th:if="${pu.difficulty} eq 'EASY'" class="bg-success">Easy</td>
                                            <td th:text="${pu.submit_time}" class="text-center"></td>
                                            <td class="text-center">
                                                <a th:href="@{'/solution/editor/' + ${pu.problem_id}}" target="_blank">去总结</a>
                                                <a th:if="${pu.solution_id} and ${pu.solution_id} ne -1" class="text-success" th:href="@{'/solution/' + ${pu.solution_id}}" target="_blank">去复习</a>
                                                <i th:if="${pu.solution_id} and ${pu.solution_id} eq -1" class="text-warning">DRAFT</i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="footer.html"></footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
