<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>LeetHub</title>
        <link href="/css/simple-datatables.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <header th:replace="common/header.html"></header>
        <div id="layoutSidenav">
            <aside th:replace="common/aside.html"></aside>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4 mb-4">Profile Page</h1>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control border-primary text-success" id="leethub_username" disabled type="text" th:value="${user.username}" />
                                <label id="leethub_username_label" for="leethub_username">Leethub 用户名</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating mb-3">
                                <input class="form-control border-primary text-success" disabled id="leethub_password" name="password" type="password" th:value="${user.password}"/>
                                <label id="label_leethub_password" for="leethub_password">
                                    Leethub Password
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input class="form-control border-primary text-success" disabled id="inputEmail" type="email" th:value="${user.email}"/>
                                <label id="label_inputEmail" for="inputEmail">Email address</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input class="form-control border-primary text-success" disabled id="signuptime" type="email" th:value="${user.signup_time}"/>
                                <label id="label_signuptime" for="signuptime">Signup Time</label>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="common/footer.html"></footer>
            </div>
        </div>
        <script src="/js/bootstrap.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
