<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Editor.md-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/md/css/editormd.css}"/>
    <title>LeetHub</title>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark pe-5">
      <!-- Navbar Brand-->
      <div class="navbar-brand ps-3">Start LeetHub</div>
      <!-- Navbar-->
      <header th:replace="nav_bar"></header>
    </nav>
    <div class="d-flex mt-1">
            <div class="col-xl-5 mt-4 mb-4">
              <div class="card">
                <div class="card-header">
                  <div th:fragment="show_tags" th:id="show_tags">
                    <div class="d-flex justify-content-between align-content-center">
                      <h5 class="mt-2" th:text="${problem.questionId} + '. ' + ${problem.title}"></h5>
                      <div class="d-flex">
                        <div class="me-2 mt-2" th:each="tag:${used_tags}">
                          <div class="d-flex badge bg-primary position-relative">
                            <h7 th:text="${tag.name}"></h7>
                            <span class="position-absolute top-0 start-100 translate-middle bg-danger rounded-circle btn-close" th:id="${tag.name}" th:attr="tag_id=${tag.tag_id}" onclick="removeTag(this.id)" style="padding: 0.30rem">
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="mt-1">
                        <span class="badge bg-danger rounded-pill" th:if="${problem.difficulty eq 'Hard'}">Hard</span>
                        <span class="badge bg-warning rounded-pill" th:if="${problem.difficulty eq 'Medium'}">Medium</span>
                        <span class="badge bg-success rounded-pill" th:if="${problem.difficulty eq 'Easy'}">Easy</span>
                        <span class="badge bg-danger rounded-pill" th:if="${problem.difficulty eq 'HARD'}">Hard</span>
                        <span class="badge bg-warning rounded-pill" th:if="${problem.difficulty eq 'MEDIUM'}">Medium</span>
                        <span class="badge bg-success rounded-pill" th:if="${problem.difficulty eq 'EASY'}">Easy</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div th:utext="${problem.content}"></div>
                </div>
              </div>
            </div>
            <div class="col-xl-7 mt-4 mb-4">
              <form id="solutionForm" name="solutionForm">
                <div class="d-flex mb-3 px-4">
                  <div class="me-auto" style="width: 70%">
                    <input id="solution_title" type="" class="form-control" name="title" placeholder="标题" th:value="${solution} ?  ${solution.title} : ''">
                  </div>
                  <select th:fragment="tag_selector" th:id="tag_selector" class="w-25 form-select me-auto" style="border-color: #0d6efd" placeholder="为题目添加  Tag">
                    <div th:each="tag:${unused_tags}">
                      <option th:value="${tag.tag_id}" th:text="${tag.name}"></option>
                    </div>
                    <option value="-1" selected>为题目添加  Tag</option>
                  </select>
                </div>
                <div id="article-content">
                  <textarea id="solution_context" name="context" th:text="${solution} ? ${solution.context} : ''"></textarea>
                </div>
                <input id="problem_id" type="hidden" class="form-control" name="problem_id"  th:value="${problem.problem_id}">
              </form>
            </div>
          </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/jquery/2.1.0/dist/jquery.js}"></script>
    <script th:src="@{/md/editormd.js}"></script>
    <script type="text/javascript">
      var testEditor;

      //window.onload = function(){ }
      $(function() {
        testEditor = editormd("article-content", {
          width : "95%",
          autoHeight: true,
          syncScrolling : "single",
          path : "../md/lib/", //使用自己的路径
          saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
          emoji: true,
          theme: "light",//工具栏主题
          previewTheme: "light",//预览主题
          editorTheme: "xq-light",//编辑主题
          tex : true,                   // 开启科学公式TeX语言支持，默认关闭
          flowChart : true,             // 开启流程图支持，默认关闭
          sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
          //图片上传
          imageUpload : true,
          imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
          imageUploadURL : "/article/file/upload", //图片上传路径
          onload : function() {
            console.log('onload', this);
          },
          /*指定需要显示的功能按钮*/
          toolbarIcons : function() {
            return ["undo","redo","|",
              "bold","del","italic","|",
              // "h1","h2","h3","h4","h5","h6","|",
              "list-ul","list-ol","hr","|",
              "link","reference-link","image","code","preformatted-text",
              "code-block","table","datetime","emoji","html-entities","pagebreak","fullscreen","|",
              "watch","preview","clear","search","|", "saveIcon","releaseIcon",
              // "help","info","releaseIcon", "index"
            ]
          },

          toolbarIconsClass  : {
            saveIcon : "fa-save",
            releaseIcon : "fa-upload"
          },

          /*给自定义按钮指定回调函数*/
          toolbarHandlers:{
            saveIcon : function (){
              saveSolution();
            },
            releaseIcon : function(){
              var title = $('#solution_title').val();
              var context = $('#solution_context').text();
              if(title == "" && context == ""){
                return;
              }
              if(title == ""){
                var el = document.getElementById("solution_title");
                el.value = "未命名";
              }
              if(context == ""){
                var el = document.getElementById("solution_context");
                el.textContent = "未总结";
              }
              solutionForm.method = "post";
              solutionForm.action = "/solution/insert";
              solutionForm.submit();
            },
          }
        });
      });
    </script>
    <script th:inline="javascript">
        function saveSolution(){
        var title = $('#solution_title').val();
        var context = $('#solution_context').text();
        if(title == "" && context == ""){
          return;
        }
        if(title == ""){
          title = "未名题";
        }
        if(context == ""){
          context = "未总结";
        }
        var problem_id = $('#problem_id').val();
        data = {
          "title": title,
          "context": context,
          "problem_id": problem_id
        };
        ajaxRequestAlert("/solution/save", "POST", data);
      };
      $('#tag_selector').change(function () {
        var tag = $('#tag_selector').val();
        if(tag == -1){
          return;
        }
        var data = {
          "tag_id": tag,
          "problem_id": [[${problem.problem_id}]]
        }
        ajaxRequestAlert("/ptt/insert", "POST", data);
      });
      function ajaxRequestAlert(url, type, data) {
        $.ajax({
          url: url,
          type: type,  //默认值: "GET"请求方式 ("POST" 或 "GET")
          data: JSON.stringify(data),
          // dataType: "json",
          contentType:"application/json;charset=UTF-8",
          async:true,
          success: function(data){      // 回调结果，如果成功
            // alert(data['message']);
            showTag();
            refreshTag();
          },
          error: function(data) {
            console.log(data);
            alert("发生错误，请反馈！");
          }
        })
      };
      function removeTag(btn_id){
        var button = document.getElementById(btn_id);
        var tag_id = button.getAttribute('tag_id');
        var data = {
          "tag_id": tag_id,
          "problem_id": [[${problem.problem_id}]]
        }
        ajaxRequestAlert("/ptt/remove", "POST", data);
      };
      function showTag(){
        var url = '/ptt/show_tag/' + [[${problem.problem_id}]];
        $('#show_tags').load(url);
      };
      function refreshTag(){
        var url = '/ptt/refresh_tag/' + [[${problem.problem_id}]];
        $('#tag_selector').load(url);
      };
      setInterval('saveSolution()', 0.5 * 60 * 1000);
      window.addEventListener('beforeunload', function (e) {
        saveSolution();
        e.preventDefault();
      });
    </script>
  </body>
</html>
