<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>LeetHub</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="position-fixed top-0 start-50" style="z-index: 9999">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
                    <strong class="me-auto">Tag</strong>
                    <button type="button" class="btn-close" data-bs-delay="1000" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="toast_msg" class="toast-body"></div>
            </div>
        </div>
        <header th:replace="common/tag_header.html"></header>
        <div id="layoutSidenav">
            <aside th:replace="common/aside.html"></aside>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="removeModalCenterTitle">Warning</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>确定要删除此标签吗？</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        <a id="remove_link" class="btn btn-link bg-primary text-white">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="changeModalLabel">Change Label information</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="old-tag-name" class="col-form-label">Old Name:</label>
                                                <input type="text" class="form-control" id="old-tag-name" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="new-tag-name" class="col-form-label">New Name: (Case insensitive)</label>
                                                <input type="text" class="form-control" id="new-tag-name">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button onclick="updateTag()" type="button" class="btn btn-primary">Commit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addModalLabel">Add a new tag</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="tag_name" class="col-form-label">Tag name:</label>
                                                <input type="text" class="form-control" id="tag_name">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="insertTag()">Commit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${tags.size()} gt 0">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                <div th:each="tag:${tags}">
                                    <div class="col mb-5">
                                        <div class="card bg-body h-100">
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Label name-->
                                                    <h5 class="fw-bolder" th:text="${tag.name}"></h5>
                                                    <!-- Label Problem rating-->
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:style="'width:' + (${countSum eq 0 or tag.count eq 0} ? '5%' : ${tag.count * 1.0 / countSum * 100} + '%')" th:text="${tag.count}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="d-flex justify-content-between">
                                                    <button type="button" class="btn btn-primary mt-auto" data-bs-toggle="modal" th:attr="data-bs-name=${tag.name}, data-bs-id=${tag.tag_id}, data-bs-count=${tag.count}, data-bs-user=${tag.user}" data-bs-target="#changeModal">
                                                        Change
                                                    </button>
                                                    <button type="button" class="btn btn-secondary mt-auto" data-bs-toggle="modal" th:attr="data-bs-id=${tag.tag_id}" data-bs-target="#removeModal">
                                                        Remove
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${tags.size()} le 0">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                <h4>点击右上角按钮创建Tag</h4>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="common/footer.html"></footer>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script th:src="@{/webjars/jquery/2.1.0/dist/jquery.js}"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/tag.js"></script>
    </body>
</html>
