<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>LeetHub</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/md/css/editormd.preview.css" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand">Start LeetHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <header th:replace="nav_bar.html"></header>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div th:if="not ${solutions}" class="d-flex justify-content-center align-items-center">
                <div class="card" style="width: 24rem;">
                    <img src="/assets/img/null.png" class="card-img-top">
                </div>
            </div>
            <div th:if="${solutions}" class="row">
                <div class="col-lg-8">
                    <div th:each="solution:${solutions}">
                        <!-- Post content-->
                        <div class="position-relative">
                            <a th:href="'/solution/' + ${solution.solution_id}" class="stretched-link"></a>
                            <div style="padding: 1rem 1rem; background-color: rgba(0, 0, 0, 0.03); background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem;" class="d-flex align-items-center mt-2">
                                <div>
                                    <span class="badge bg-danger rounded-pill" th:if="${solution.problem.difficulty eq 'Hard'}">Hard</span>
                                    <span class="badge bg-warning rounded-pill" th:if="${solution.problem.difficulty eq 'Medium'}">Medium</span>
                                    <span class="badge bg-success rounded-pill" th:if="${solution.problem.difficulty eq 'Easy'}">Easy</span>
                                    <span class="badge bg-danger rounded-pill" th:if="${solution.problem.difficulty eq 'HARD'}">Hard</span>
                                    <span class="badge bg-warning rounded-pill" th:if="${solution.problem.difficulty eq 'MEDIUM'}">Medium</span>
                                    <span class="badge bg-success rounded-pill" th:if="${solution.problem.difficulty eq 'EASY'}">Easy</span>
                                </div>
                                <h7 class="ms-2" th:text="${solution.problem.title}"></h7>
                                <em th:text="${solution.title}" class="ms-5 text-primary text-"></em>
                                <div class="ms-5" th:text="${solution.update_time}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4 mt-2">
                        <div class="card-header">Tags</div>
                        <div class="card-body">
                            <div th:if="${tags}" class="container">
                                <div class="row row-cols-3">
                                    <div th:each="tag:${tags}">
                                        <a href="" th:text="${tag.name}"></a>
                                    </div>
                                </div>
                            </div>
                            <div th:if="not ${tags}" class="d-flex justify-content-center">
                                <a th:href="@{/tag}">Manage Tags</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
<!--        <footer class="py-3 bg-dark mb-sm-0">-->
<!--            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>-->
<!--        </footer>-->
        <script th:src="@{/webjars/jquery/2.1.0/dist/jquery.js}"></script>
        <script src="/md/lib/marked.min.js"></script>
        <script src="/md/lib/prettify.min.js"></script>

        <script src="/md/lib/raphael.min.js"></script>
        <script src="/md/lib/underscore.min.js"></script>
        <script src="/md/lib/sequence-diagram.min.js"></script>
        <script src="/md/lib/flowchart.min.js"></script>
        <script src="/md/lib/jquery.flowchart.min.js"></script>

        <script src="/md/editormd.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script type="text/javascript">
            $(function() {
                var editormdView;

                editormdView = editormd.markdownToHTML("editormd-view", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                    previewTheme : "dark",
                });
            });
        </script>
    </body>
</html>
